<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-ecurity">
<head>
    <meta charset="UTF-8">
    <title>Netunix Company Home Page</title>
</head>
<body>
<h2>Netunix Company Home Page</h2>
<hr>
<p>
    Welcome to the Netunix company home page!
</p>
<hr>
<!-- Display userid and role -->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Managers peeps)
    </p>
</div>
<div sec:authorize="hasRole('ADMIN')">
<p>
    <a th:href="@{/systems}">It System devs Meeting</a>
    (Only for Admins peeps)
</p>
</div>

<hr>
<!-- Add logout button-->
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>